html
  head
    title='FM Test5'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from Francisco Moreno 5
        p We hope you're Having a Grand Time 5!
        p 
          a.btn.btn-primary(href="https://www.google.com" target="_blank") google.com

          a.btn.btn-outline-primary(href="https://www.msn.com" target="_blank") msn.com        
          
          a.btn.btn-primary(href="https://www.amaxzon.com" target="_blank") amazon.com
        p
        p Be careful. The last time I updated the packages in this app was August 29th 2023 at 02:38pm.
